/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

body {
  margin: 0;
}

body .container {
  padding: 60px 15px 0;
  height: 600px;
  min-height: 100%;
  display: grid;

}

#contentBox {
  box-sizing: border-box;
  border: solid;
  margin: -15px 11px 35px 13%;
  width: 100%;
  padding: 20px;
  background: #e6e8e8;
  border-style: solid;
  border-color: #dddddd;
  border-width: 1px;
  border-radius: 15px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

#me {
  width: 200px;
  height: 200px;
  margin: 0 0 0 10px;
  padding-right: 15px;
  float: left;
}

#submit {
  background-color: #4aaaa5;
  color: white;
  border: solid .5px lightgray;
  padding: 5px 10px;
}

.card {
  /* width: 100px; */
  margin: 10px 50px 10px 50px;
  border-radius: 0;
  border-bottom-left-radius: 10px;
  border-top: none;
  float: left;
  /* flex: 70%; */
}

.image {
  height: 150px;
  width: 200px;
  /* margin-left: 100px; */
  border-top-right-radius: 10px;
}

/* .footer {
  background-color: red;
  text-align: center;
  position: sticky;
  bottom: 0;
} */

.footer {
  text-align: center;
  justify-content: center;
  color: white !important
}

.footer-text {
  width: 100%;
  margin-right: 0;
}